{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{{ attach_library('bootstrap_barrio/form') }}
<div class="row title-logos">
  {% if current_language == 'es' %}
    <div class="col-12 title text-center pt-4 pb-5"><h2>{{ 'Crea tu cuenta y agenda una clase de prueba gratis'|t }}</h2></div>
  {% else %}
    <div class="col-12 title text-center pt-4 pb-5"><h2>{{ 'Create your account and schedule a free trial class'|t }}</h2></div>
  {% endif %}
  <div class="col-12 iconos text-center d-flex">
    <div class="col-4">
      <div class="img"><img src="/themes/custom/koala/images/clase.png" alt="Class"></div>
      {% if current_language == 'es' %}
        <div class="texto">{{ '25 minutos de clase'|t }}</div>
      {% else %}
        <div class="texto">{{ '25 minutes of class'|t }}</div>
      {% endif %}
      
    </div>

    <div class="col-4">
      <div class="img"><img src="/themes/custom/koala/images/test.png" alt="Class"></div>
      {% if current_language == 'es' %}
        <div class="texto">{{ 'Test de nivel'|t }}</div>
      {% else %}
        <div class="texto">{{ 'Level test'|t }}</div>
      {% endif %}
      
    </div>

    <div class="col-4">
      <div class="img"><img src="/themes/custom/koala/images/conocer.png" alt="Class"></div>
      {% if current_language == 'es' %}
        <div class="texto">{{ 'Conocer al niño'|t }}</div>
      {% else %}
        <div class="texto">{{ 'Meeting your kid'|t }}</div>
      {% endif %}
    </div>
  </div>
</div>
<form{{ attributes }}>
  {{ children }}
</form>

<style>
  .description.text-muted {
    display: none;
  }
</style>