{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{{ attach_library('bootstrap_barrio/form') }}

<div class="filtro-agendar">
	{% if current_language == 'es' %}
		<div class="texto-desde">Seleccione el mes y día</div>
	{% else %}
		<div class="texto-desde">Select month and day</div>
	{% endif %}
	<div id="datepicker-seleccionar-fecha"></div>
	<div id="datepicker-seleccionar-fecha2"></div>


	<div class="datepicker-container">
		<input type="text" id="datepicker-input" readonly="readonly">
	</div>
	{# Dos campos de tipo time. Hora de inicio y hora final #}
	<div class="horas-inicio-final horas-inicio-final d-flex flex-row justify-content-around mb-4" style="gap:1rem;">
		<div class="hora-inicio w-100">
			{% if current_language == 'es' %}
				<label for="hora-inicio">Desde</label>
			{% else %}
				<label for="hora-inicio">From</label>
			{% endif %}
			<input type="time" id="hora-inicio" name="hora-inicio" value="07:00" step="1800" class="w-100">
			{# 
				Create select con valores de hora, desde 07:00 a 22:00 en intervalos de 30 minutos 
				// Option default 07:00
			#}
			<select name="hora-inicio-select" id="hora-inicio-select" class="w-100">
				{% for i in range(7, 21) %}
					{% set hora = i < 10 ? '0' ~ i ~ ':00' : i ~ ':00' %}
					{% if i == 7 %}
						<option value="{{ hora }}" selected>{{ hora }}</option>
					{% else %}
						<option value="{{ hora }}">{{ hora }}</option>
					{% endif %}
					{% set hora = i < 10 ? '0' ~ i ~ ':30' : i ~ ':30' %}
					<option value="{{ hora }}">{{ hora }}</option>
				{% endfor %}
			</select>
			
		</div>
		<div class="hora-final w-100">
			{% if current_language == 'es' %}
				<label for="hora-final">Hasta</label>
			{% else %}
				<label for="hora-final">To</label>
			{% endif %}
			<input type="time" id="hora-final" name="hora-final" value="22:00" step="1800" class="w-100">
			{# 
				Create select con valores de hora, desde 07:30 a 22:00 en intervalos de 30 minutos 
				Option default 22:00
			#}
			<select name="hora-final-select" id="hora-final-select" class="w-100">
				{% for i in range(7, 22) %}
					{% set hora = i < 10 ? '0' ~ i ~ ':00' : i ~ ':00' %}
					{% if i == 22 %}
						<option value="{{ hora }}" selected>{{ hora }}</option>
					{% else %}
						<option value="{{ hora }}">{{ hora }}</option>
						{% set hora = i < 10 ? '0' ~ i ~ ':30' : i ~ ':30' %}
						<option value="{{ hora }}">{{ hora }}</option>
					{% endif %}
					
				{% endfor %}
			</select>
		</div>
	</div>
	<form{{attributes}}>
		{{ children }}
	</form>
</div>
