{#
/**
 * @file
 * Bootstrap Barrio's theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% set attributes = attributes.addClass('site-branding') %}
{% if site_logo or site_name %}
  {# obtener el rol del usuario actual y buscar el rol profesor, despues comprobar el rol de padre, despues el de hijo #}
  {% set roles = user.getroles(TRUE) %}
  {# Buscar en la variable roles si exite el item profesor #}
  {% if rol == 'hijo' %}
    <a href="/hijo" title="{{ 'Home'|t }}" rel="home" class="navbar-brand">
      {% if site_logo %}
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="img-fluid d-inline-block align-top" />
      {% endif %}
      <span class="ml-2 d-none d-md-inline">{{ site_name }}</span>
    </a>
  {% endif %}
  {% if 'profesor' in user.getroles(TRUE)  %}
      {% if current_language == 'es' %}
        <a href="/profesor" title="{{ 'Home'|t }}" rel="home" class="navbar-brand">
      {% else %}
        <a href="/en/profesor" title="{{ 'Home'|t }}" rel="home" class="navbar-brand">
      {% endif %}
      {% if site_logo %}
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="img-fluid d-inline-block align-top" />
      {% endif %}
      <span class="ml-2 d-none d-md-inline">{{ site_name }}</span>
    </a>
  {% endif %}
  {% if 'padre' in user.getroles(TRUE)  %}
      {% if current_language == 'es' %}
        <a href="/padres" title="{{ 'Home'|t }}" rel="home" class="navbar-brand">
      {% else %}
        <a href="/en/padres" title="{{ 'Home'|t }}" rel="home" class="navbar-brand">
      {% endif %}
      {% if site_logo %}
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="img-fluid d-inline-block align-top" />
      {% endif %}
      <span class="ml-2 d-none d-md-inline">{{ site_name }}</span>
    </a>
  {% endif %}
   {% if 'director_colegio' in user.getroles(TRUE)  %}
      {% if current_language == 'es' %}
        <a href="/director" title="{{ 'Home'|t }}" rel="home" class="navbar-brand">
      {% else %}
        <a href="/en/director" title="{{ 'Home'|t }}" rel="home" class="navbar-brand">
      {% endif %}
      {% if site_logo %}
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="img-fluid d-inline-block align-top" />
      {% endif %}
      <span class="ml-2 d-none d-md-inline">{{ site_name }}</span>
    </a>
  {% endif %} 

{% endif %}

