{#
/**
 * @file
 * Bootstrap Barrio's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{{ attach_library('bootstrap_barrio/node') }}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{% set fecha_texto =  content.field_fecha_de_la_cita[0]['#context'].value %}
{# Aquí reemplaza "27-05-2023" por tu variable que contiene el valor del campo de tipo texto #}
{% set fecha = fecha_texto|date("d-m-Y") %}
{% set fecha_inicio =  content.field_fecha_de_la_cita[0]['#context'].value|date("Ymd") ~ 'T' ~ content.field_hora_clase.value|date("His", 'utc') ~ 'Z' %}
{% set alumno = content.field_nombre_del_nino_a.0 %}
{% set tipo_clase = content.field_tipo_clase[0]['#context'].value %}


<article{{attributes.addClass(classes)}}>

	<div{{content_attributes.addClass('node__content','clearfix')}}>
		<div class="superior text-center">
			<img src="/themes/custom/koala/images/tigre.svg">
			{% if current_language == 'es' %}
				<h2>¡Perfecto! Lo has conseguido</h2>
				<p>Te hemos enviado un correo con los detalles de tu clase</p>						
			{% else %}
				<h2>Great! You made it!</h2>
				<p>We have sent you an email with the details of your class</p>
			{% endif %}
		</div>
		<div class="cuadro row">
			<div class="col-12">
				{% if (tipo_clase == 'Paga' )  %}
					{% if current_language == 'es' %}
						<h3>{{ 'Tu clase ha sido reservada'|t }}</h3>
					{% else %}
						<h3>{{ 'Your class has been booked'|t }}</h3>
					{% endif %}
				{% else %}
					{% if current_language == 'es' %}
						<h3>{{ 'Tu clase gratuita ha sido reservada'|t }}</h3>
					{% else %}
						<h3>{{ 'Your trial class has been booked'|t }}</h3>
					{% endif %}
				{% endif %}
			</div>
			<div class="col-md-12 col-lg-6">
				<div>
					{% if current_language == 'es' %}
						<h4>{{ 'Alumno'|t }}</h4>
					{% else %}
						<h4>{{ 'Student'|t }}</h4>
					{% endif %}
				</div>
				<div>
					<p>{{ content.field_nombre_del_nino_a.0 }} {{content.field_apellidos_del_nino_a.0}}</p>
				</div>
			</div>
			<div class="col-md-12 col-lg-6">
				<div>
					{% if current_language == 'es' %}
						<h4>{{ 'Fecha'|t }}</h4>
					{% else %}
						<h4>{{ 'Date'|t }}</h4>
					{% endif %}
				</div>
				<div>
					{% if current_language == 'es' %}
						<p>{{ content.field_fecha_cita_oculta.0 }}</p>
					{% else %}
						<p>{{formatted_date_fecha_cita_oculta}}</p>
						{# <p>{{dump(content.field_fecha_cita_oculta.0)}}</p> #}
					{% endif %}
				</div>
			</div>

			<div
				class="col-md-12 col-lg-6">
				{# Obtener el titulo del nodo en una variable llamada titulo_evento #}
				{% set titulo_del_evento = "Clase gratuita de 25 minutos para Koala" %}
				{% set detalles_clase = "Agendamiento+de+25+minutos+de+una+clase+gratuita.+En+la+clase+se+evaluara+el+nivel+de+español+de+su+hijo" %}
				{# <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&text={{ titulo_del_evento }}&details={{detalles_clase}}&dates={{fecha_inicio}}" target="_blank" class="calendario-google">Agregar a Google Calendar</a> #}
			</div>
			{# {{ content }} #}
		</div>
	</div>


	{# <div class="botones-edicion">
			<a href="{{ path('entity.node.edit_form', {'node': node.id}) }}/agendar_clases" class="boton-editar">Editar clase</a>
			<a href="{{ path('entity.node.delete_form', {'node': node.id}) }}" class="boton-eliminar">Eliminar clase gratuita</a>
		</div> #}

	
	{% if (tipo_clase == 'Paga' )  %}
		<div class="ir-a-cuenta w-100 text-center">
			{% if current_language == 'es' %}
				<a href="/padres" class="boton-ir-a-cuenta">Ir a mi cuenta</a>
			{% else %}
				<a href="/en/padres" class="boton-ir-a-cuenta">Go to my account</a>
			{% endif %}
		</div>
	{% else %}
		<div class="ir-a-cuenta">
			{% if current_language == 'es' %}
				<a href="/padres" class="boton-ir-a-cuenta">Ir a mi cuenta</a>
			{% else %}
				<a href="/en/padres" class="boton-ir-a-cuenta">Go to my account</a>
			{% endif %}
		</div>

		<div class="ir-a-cuenta">
			{% if current_language == 'es' %}
				<a href="/node/add/agendar_clase/agendar_clases" class="boton-ir-a-cuenta">Agregar otro niño +</a>
			{% else %}
				<a href="/en/node/add/agendar_clase/agendar_clases" class="boton-ir-a-cuenta">Add another child +</a>
			{% endif %}
		</div>
	{% endif %}

		{# {{ fecha|date("Ymd",'utc') }} #}


		{# {{ content.field_fecha_cita_gratis.value|date("Ymd", 'utc') ~ 'T' ~ content.field_hora_clase.value|date("His", 'utc') ~ 'Z'}} #}


</article>
