{#
/**
 * @file
 * Theme override for a node edit form.
 *
 * Two column template for the node add/edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @see seven_form_node_form_alter()
 */
#}

{# Guarda en la variable agendar_paga el valor de agendar_clase #}
{% set agendar_paga = agendar_clase|trim %}

{# Verificar si agendar_paga es igual a  agendando_clase #}
{% if agendar_paga == 'agendando_clase' %}

  <div class="content clearfix row mt-5">
    <div class="col-12 volver pb-3">
        <a href="#" onclick="history.back();"><span> < </span> Volver</a>
    </div>
    <div class="col-md-4 izquierda">
      {{ drupal_view('profesor_agendar_clase', 'block_1') }}     
      {{ drupal_view('mis_koalas', 'profesor_detalle_horario') }}
    </div>
    <div class="col-md-8 derecha">
      <div class="formulario">
        <div id="select-horario">
        <div class="titulo"><h2>{{ 'Selecciona hora de clase'|t }}</h2></div>
          <div class="horario"></div>
        </div>
        {{ form|without('advanced', 'actions') }}
      </div>
      <div class="col layout-region-node-footer">
        <div class="alumno-seleccionado">
          {{ drupal_view('profesor_agendar_clase', 'block_2') }}
        </div>
        <div class="form-actions">
          {{ form.actions }}
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="content clearfix row">
    <div class="col-md-12 layout-region layout-region-node-main">
      <div class="formulario">
        <h3 class="title-1">{{ 'Paso 2/2 '|t }}</h3>
        <h2 class="title-2">{{ 'Agenda tu clase'|t }}</h2>
        {{ form|without('advanced', 'actions') }}
      </div>
    </div>
    <div class="col layout-region-node-footer">
      {{ form.actions }}
    </div>
  </div>

{% endif %}
